.filter{

    .row{
        display: flex;
    }
}

.filter_nav{
    display: flex;
    padding: 0 40px;
    margin-bottom: 40px;
    justify-content: space-between;

    .search{
        padding-right: 20px;

        label{
            padding-right: 15px;
            font-weight: bold;
        }

        input{
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 0.25);
            

            &::-webkit-input-placeholder {
                text-align:center;
                opacity: 50%;
            }
                
            &:-moz-placeholder { /* Firefox 18- */
                text-align:center;  
                opacity: 50%;
            }
                
            &::-moz-placeholder {  /* Firefox 19+ */
                text-align:center;  
                opacity: 50%;
            }
                
            &:-ms-input-placeholder {  
                text-align:center; 
                opacity: 50%;
            }
        }
    }

    .filter-btns{
        display: flex;
        padding-left: 20px;

        span{
            padding-right: 15px;
            font-weight: bold;
        }

        .filter_btn{
            padding: 5px 10px;
            background-color: white;
            border: none;
            box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 0.25);
            font-size: 14px;
            margin-left: 5px;
            cursor: pointer;
            
            &.active{
                background-color: rgb(14, 14, 14);
                color: white;
            }

            &:first-child{
                border-radius: 4px 0 0 4px;
            }
            &:last-child{
                border-radius: 0 4px 4px 0;
            }
            &:hover{
                background-color: rgb(14, 14, 14);
                color: white;
                transition: .3s;
            }
        }

    }
}

.filter-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    .filter-item{
        border-radius: 8px;
        box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.25);
        margin: 10px;
        overflow: hidden;
        cursor: pointer;

        &_wrap{
            text-align: center;
            margin: 37px 27px 20px;
        }

        p{
            font-size: 14px;
            text-align: right;

            &:first-child{
                text-align: center;
            }

            &:last-child{
                font-weight: bold;;
            }
        }
    }
}

@media (max-width: 700px) {

    .filter_nav{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;

        .search{
            padding-right: 0;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 550px) {

    .coffee-page{
        width: 100%;
    }

    .filter-items{
        justify-content: center;
    }

    .filter-item{
        flex: 0 0 220px;
    }
}

